/* To vertically center: */
/* Reference: https://love2dev.com/blog/absolute-centering-css/*/
#landing {
  background-color: #525280;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-logo {
  font-family: 'Karma', serif;
  font-size: 60pt;
  font-weight: lighter;
  color: white;
}

#about-button {
  position: absolute;
  bottom: 2px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  color: white;
}

p {
  font-size: 18pt;
}

#about {
  height: 100%;
  width: 100%;
  padding: 30pt 50pt;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#about-content {
  text-align: justify;
  width: 55%;
  padding: 10px;
}
