body {
  background-color: #7b7fb0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.entry {
  padding: 15px;
}

#entry-form {
  padding: 20px;
}

#title {
  font-size: 28pt;
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
}

/* Reference: https://www.w3schools.com/howto/howto_css_placeholder.asp */
#title::placeholder {
  font-family: 'Noto Sans SC', sans-serif;
  color: #ebebeb;
}

#date {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 18pt;
  color: white;
  background-color: transparent;
  text-align: center;
  padding-left: 30pt;
  outline: none;
  border: none;
}

/* Reference: https://stackoverflow.com/questions/50015927/how-to-change-look-of-input-type-date-in-chrome */
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#content {
  background-color: #b8bbe0;
  font-family: 'Noto Sans SC', sans-serif;
  color: #474747;
  height: 240pt;
  width: 480pt;
  padding: 10px;
  border: 3px gray;
  outline: 0pt;
  font-size: 14pt;
}

#content::placeholder {
  color: #636363;
}

#save-cancel-buttons {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
