body {
  height: 100vh;
  margin: 0px;
  background-color: #7b7fb0;
}

p {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 18pt;
  color: white;
}

#login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-url a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px 10px;
}

#login-url a:active {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px 10px;
}

#login-url a:hover {
  text-decoration: none;
  color: #7b7fb0;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px 10px;
}
