<!DOCTYPE html>
<html>
<head>
  <title> A Daily Memoir </title>
  <link rel="stylesheet" href="../resources/home.css">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
</head>
<body>
  <h1> A Daily Memoir </h1>
  <!-- <ul id="grid" class="clear">
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
    <li>
        <div class="hexagon"></div>
    </li>
  </ul> -->
</body>
</html>
